label.checkbox {
  flex-direction: row;
}

label.checkbox {
  align-items: center;
  cursor: default;
  display: flex;
  position: relative;
  margin-left: -10px;
}

label.checkbox input[type="checkbox"] {
  opacity: 0;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
}

label.checkbox input[type="checkbox"]:focus-visible + span:before {
  outline: 2px solid var(--figma-color-border-brand-strong);
}

label.checkbox span {
  align-items: center;
  color: var(--figma-color-text);
  display: flex;
  font-family: inherit;
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-height);
  letter-spacing: var(--font-letter-spacing-xsmall);
  margin-left: -10px;
  padding-left: var(--size-xsmall);
  width: 100%;
  height: 100%;
  user-select: none;
}

label.checkbox span:before {
  border: 1px solid var(--figma-color-border);
  border-radius: var(--border-radius-small);
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  margin: -1px 4px 0 -8px;
  box-shadow: none;
}


label.checkbox input[type="checkbox"]:disabled + span {
  color: var(--figma-color-text-disabled);
}

label.checkbox input[type="checkbox"]:checked + span:before {
  background-color: var(--figma-color-bg-brand);
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%227%22%20viewBox%3D%220%200%208%207%22%20width%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m1.17647%201.88236%201.88235%201.88236%203.76471-3.76472%201.17647%201.17648-4.94118%204.9412-3.05882-3.05884z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 1px 2px;
  border-color: var(--figma-color-border-brand);
}

label.checkbox input[type="checkbox"]:checked:disabled + span:before {
  border-color: var(--figma-color-border-disabled);
  background-color: var(--figma-color-bg-disabled);
}