h2 {
  letter-spacing: var(--font-letter-spacing-xlarge);
  line-height: var(--font-line-height-large);
}

p, label, span {
  color: var(--figma-color-text);
}

b, strong {
  color: var(--figma-color-text-brand);
}



